* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Helvetica;
}

body {
  margin: auto;
  min-height: 200vh;
  position: relative;
  background-color: #201122;
}

.main {
  width: 90%;
  margin: auto;
  background-color: #f7f7f7;
  position: relative;
  margin-top: 0;
}

h2 + p {
  color: #9d9d9d;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  padding: 0 30px;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__contact {
  color: #757474;
  font-size: 2rem;
}

.nav__contact span {
  opacity: 0.3;
  font-weight: 100;
}

.logo__content {
  margin-left: 24px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #757474;
}

.logo__content span {
  opacity: 0.3;
  font-weight: 100;
}

.banner--top {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}

.banner--bot {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
  padding-bottom: 70px;
}

.banner__title--top {
  font-size: 48px;
}

.banner__image--top {
  padding: 0 128px;
  margin-top: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.banner__btn {
  margin-top: 56px;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(#beeaff), to(#619ee3));
  background: linear-gradient(180deg, #beeaff 0%, #619ee3 100%);
  background-color: #b4d6fa;
  border-radius: 60px;
  color: #37567f;
  padding: 8px 56px;
  width: 450px;
  outline: none;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__btn__checkout {
  font-style: italic;
  position: absolute;
  right: -80%;
  top: 20px;
  font-size: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5790dc;
}

.banner__btn__dontwait {
  position: absolute;
  font-style: italic;
  left: -70%;
  bottom: 20px;
  font-size: 1.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5790dc;
}

.banner__btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transform: scale(8, 1.5);
          transform: scale(8, 1.5);
  opacity: 0.8;
  background: radial-gradient(50% 50% at 50% 50%, #dbdbdb 0%, #ececec 100%);
  position: absolute;
  bottom: -30px;
  height: 10px;
}

.banner__btn > *:not(:last-child) {
  display: block;
}

.banner__btn > *:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.feature {
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  min-height: 500px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.feature__image {
  text-align: right;
  padding-right: 10px;
}

.feature__item {
  padding-right: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

@media only screen and (max-width: 600px) {
  .feature {
    background-color: blue;
  }
}

@media only screen and (max-width: 500px) {
  .feature {
    background-color: red;
  }
}

.pre__letter {
  position: absolute;
  top: 32px;
  left: 5%;
  font-size: 1.5rem;
  font-style: italic;
  color: #5790dc;
}

.letter {
  background-color: #ebebeb;
  position: relative;
  border-color: #c2c2c2 #ffffff #ffffff #c2c2c2;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  height: 100px;
  width: 90%;
  padding: 20px;
  color: #9d9d9d;
}

.letter__compose {
  position: absolute;
  right: 5%;
  bottom: -30%;
}

.letter::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 79px;
  width: 0;
  height: 0;
  z-index: -1;
  border-top: 20px solid #eaeaea;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #eaeaea;
}

.footer__container {
  background-color: #949494;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 48px;
          column-gap: 48px;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 20px 1fr;
      grid-template-rows: 20px 1fr;
}

.footer__container :last-child {
  padding-top: 30px;
}

.copyright {
  padding: 0 30px;
  background-color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */